name: Custom

on: 
  push:
    branches: [main]

jobs:
  custom:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: log
        run: echo "ok"

      - name: log2
        run: echo "ok2"



